.mobile_menu_top {
    display: flex;
    justify-content: flex-end;
}

.mobile_menu_close {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.mobile_menu_nav {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.mobile_menu_divider {
    height: 1px;
    background-color: #e8e8e8;
    margin: 7px 0;
}

.userActions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.userLinks {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 16px;
}

.userActions span {
    color: #aeaeae;
}

.loginButton, .signupButton {
    background: none;
    border: none;
    cursor: pointer;
    color: #1890ff;
    /* font-size: 16px; */
}

.mobile_menu_drawer .ant-drawer-body {
    padding: 0 !important;
}

.cart {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 3px;
    border: none;
    color: #1890ff;
    cursor: pointer;
    z-index: 200;
}

.cart svg {
    width: 20px;
    height: 20px;
}

.wishlist {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 3px;
    border: none;
    color: #1890ff;
    cursor: pointer;
    z-index: 200;
}

.wishlist svg {
    width: 20px;
    height: 20px;
}