.cardInfo {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: start;
}

.description {
    text-align: start;
    color: rgba(0, 0, 0, 0.45);
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addToCartButton {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 8px 8px;
    border: none;
    background-color: #1890ff;
    color: #fff;
    cursor: pointer;
    z-index: 200;
}

.addToCartButton:hover {
    background-color: #40a9ff;
    
}   

.addToCartButton svg {
    width: 20px;
    height: 20px;
}

.price span {
    text-transform: lowercase;
    font-weight: 600;
    font-size: 16px;
    margin-right: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
}

.favorites {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: none;
    background: none;
    color: #1890ff;
}