.catalogWrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    /* padding: 20px; */
}

.catalogBody {

    width: 100%;
}

.catalogRow {
    width: 100%;
    /* max-width: 1200px; */
}

.catalogCol {
    display: flex;
    justify-content: center;
    padding: 0;
}

@media (max-width: 768px) {
    .catalogWrapper {
        grid-template-columns: 1fr;
    }
}