.catalogWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.catalogRow {
    width: 100%;
    max-width: 1200px;
}

.catalogCol {
    display: flex;
    justify-content: center;
}