.content-wrapper {
    padding: 24px;
    background: #f0f2f5;
    min-height: 360px;
    border-radius: 10px;
    background-color: #fff;
}



@media (max-width: 1024px) {
    .content-wrapper {
        padding: 12px 0;
    }
}