.layout {
    border-radius: 8px;
    overflow: hidden;
}


.content {
    text-align: center;
    min-height: 120px;
    padding: 0 48px;
}

.footer {
    text-align: center;
}


@media (max-width: 768px) {

    .content {
        padding: 0 16px;
    }   
}