.layout {
    border-radius: 8px;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 64px;
    padding-inline: 48px;
    line-height: 64px;
    background-color: #fff;
    border-bottom: 1px solid rgba(5,5,5,0.06);
}

.content {
    text-align: center;
    min-height: 120px;
    padding: 0 48px;
}

.footer {
    text-align: center;
}

.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}

.menu {
    min-width: 300px;
}

.loginButton, .signupButton {
    background: none;
    border: none;
    margin-right: 12px;
    cursor: pointer;
    color: #1890ff;
}

.hamburgerMenu {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.mobileMenuButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.cart {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 3px;
    border: none;
    color: #1890ff;
    cursor: pointer;
    z-index: 200;
}

.cart svg {
    width: 20px;
    height: 20px;
}

.wishlist {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 3px;
    border: none;
    color: #1890ff;
    cursor: pointer;
    z-index: 200;
}

.wishlist svg {
    width: 20px;
    height: 20px;
}

.userActions {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 768px) {

    .hamburgerMenu {
        display: flex;

    }

    .menu {
        display: none;
    }

    .userActions {
        display: none;
    }

    .content {
        padding: 0 16px;
    }   
}