.loginWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}

.loginForm {
    width: 600px;
    background-color: #fff;
    padding: 34px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.loginForm h2 {
    margin-bottom: 16px;
    text-align: center;
}

.inputGroup {
    min-width: 300px;
    margin-bottom: 16px;
}

.loginButton {
    padding: 8px;
    background-color: #1890ff;
    color: #fff;    
    border: none;
    border-radius: 4px;
    cursor: pointer;
    min-width: 100px;
}

.hide {
    display: none !important;
}