.header {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: auto;
    padding: 0;
}

.headerTop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 45px;
    padding-inline: 68px;
    background-color: #f0f2f5;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.45);
}

.headerMiddle {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 64px;
    padding-inline: 68px;
    line-height: 64px;
    border-bottom: 1px solid rgba(5,5,5,0.06);
}

.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}

.menu {
    min-width: 300px;
    justify-content: end;
}

.loginButton, .signupButton {
    background: none;
    border: none;
    margin-right: 12px;
    cursor: pointer;
    color: #1890ff;
}

.hamburgerMenu {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.mobileMenuButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.cart {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 3px;
    border: none;
    color: #1890ff;
    cursor: pointer;
    z-index: 200;
}

.cart svg {
    width: 20px;
    height: 20px;
}

.wishlist {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 3px;
    border: none;
    color: #1890ff;
    cursor: pointer;
    z-index: 200;
}

.wishlist svg {
    width: 20px;
    height: 20px;
}

.userActions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.6;
}

.mobileSearchBar {
    display: none;
    padding: 10px 24px;
    border-bottom: 1px solid rgba(5,5,5,0.06);
    background-color: #fff;
}

@media (max-width: 1200px) {
    .searchBar {
        flex: 0.8;
    }

}

@media (max-width: 968px) {
    .searchBar {
        flex: 1;
    }

}

@media (max-width: 768px) {
    .header {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(5,5,5,0.06);;
    }

    .headerTop {
        background-color: #fff;
        padding-inline: 24px;
    }

    .headerMiddle {
        padding-inline: 24px;
        border: none;
    }

    .hamburgerMenu {
        display: flex;
    }

    .menu {
        display: none;
    }

    .userActions {
        display: none;
    }

    .searchBar {
        display: none;
    }

    .mobileSearchBar {
        display: flex;
        width: 100%;
    }
}