.loginButton {
    padding: 8px;
    background-color: #1890ff;
    color: #fff;    
    border: none;
    border-radius: 4px;
    cursor: pointer;
    min-width: 100px;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    padding: 60px;
}