.totalAmount {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}
.totalAmount span {
    font-weight: 600;
    /* font-size: large; */
    font-size: 24px;
    font-weight: bold;
    margin-right: 25px;
}

.orderItemsTable {
    background-color: antiquewhite;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}