.statusSelect {
    width: 150px;
}
.updateButton {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 5px;
    border: none;
    background-color: #1890ff;
    color: #fff;
    cursor: pointer;
    z-index: 200;
    max-height: 30px;
}